.container {
    display: flex;
    min-height: 100vh;
    background-color: #f0f0f0;
    direction: rtl;
  }
  
  .sidebar {
    width: 250px;
    background-color: #346458;
    padding: 2rem 1rem;
    box-shadow:10px 0px 20px 5px rgba(0, 0, 0, 7);
    position: fixed;
    height: 100vh;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin: 1rem 0;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navLink:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .icon {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
  
  .main {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    margin-right: 275px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      padding: 1rem;
    }
  
    .navList {
      display: flex;
      justify-content: space-around;
    }
  
    .navItem {
      margin: 0;
    }
  }